.dark p {
    color:black;
    font-family: cursive;
    font-size: 20px;
  }
  .dark a {
color:black;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-family: 30px;
  }
  .dark h1 {
    color:black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
  }
html {
    background: rgb(246,72,232);
background: linear-gradient(0deg, rgba(246,72,232,1) 0%, rgba(155,140,233,1) 100%);
background-size: 100% 100vh;
  }
  
  