.dark p {
    color:rgb(62, 221, 14)

} 
.dark h1 {
    color: rgb(255, 140, 58);
}
.dark a {
    color: aqua;
}
.dark html {
    background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 50%);
    background-size: 100% 100vh;
}